body {
  background-color: #fdfdfd;
}

main {
  max-width: 700px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}
td {
  border: 1px solid #aaa;
  text-align: center;
}

button {
  color: white;
  background-color: #123567;
  border: none;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-del {
  background-color: brown;
  padding: 0px;
  height: 30px;
  width: 30px;
  text-transform: none;
}

.btn-delall {
  background-color: brown;
}

input[type='text'] {
  font-size: large;
  width: 100%;
  padding: 12px 20px;
  margin-top: 10px;
  box-sizing: border-box;
}

ul.searchbox {
  border: 1px solid #aaa;
  border-radius: 4px;
  height: 200px;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 10px;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}

.btns-under-list {
  display: flex;
  border-top: 1px solid #aaa;
  justify-content: space-between;
}
